
/*------------------------------- Vocabulary Section -------------------------------*/

#vocabularySection {
    background: #0b2239;
    color: #fff;
    padding: 50px;
}

a {
    text-decoration: none;
}