/*------------------------------- Sign Up Page -------------------------------*/
.sign-up-container {
    margin: 7% auto;
    text-align: center;
}
.sign-up-container h1 {
    font-size: 40px;
    font-weight: 200;
}
.sign-up-container p {
    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
}
.sign-up-form {
    margin: 2px auto 30px auto;
    background: #0e2a47;
    border-style: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 50px;
    width: 400px;
    justify-content: center;
} 
input {
    background: none;
    border-style: solid;
    border-color: #2bc48a;
    width: 250px;
    height: 50px;
    margin: 0 auto -2px;
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.topInput {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.bottomInput {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.signUpButton {
    margin-top: 30px;
    background: none;
    padding: 10px 15px;
    color: #fff;
    border-style: solid;
    border-color: #2bc48a;
    border-radius: 7px;
    width: 250px;
    font-size: 16px;
}

.logInLink {
    display: inline-block;
    margin-top: 10;
    background: none;
    color: #2bc48a;
    border-style: none;
    padding-left: 5px;
    font-size: 16px;
}

input:hover {
    background-color: #0b2239;
}

.signUpButton:hover {
    background-color: #0b2239;
    color: #2bc48a;
}

.logInLink:hover {
    color: #fff;
}